<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>register | Counsellor Portal</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    body {
      min-height: 100vh;
      background: linear-gradient(135deg, #667eea, #764ba2);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .login-card {
      width: 100%;
      max-width: 420px;
      border-radius: 15px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }
    .login-title {
      font-weight: 600;
      color: #333;
    }
  </style>
</head>

<body>

  <div class="card login-card p-4">
    <div class="card-body">
    
    
    
    <font style="color: red;">
    <p th:text="${emsg}"> </p>
    </font>
    
    <font style="color: green;">
    <p th:text="${smsg}"> </p>
    </font>
   

      <h3 class="text-center mb-4 login-title">Register Here</h3>

      <form th:action="@{/register}" th:object="${councellor}" method="post">

        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" th:field="*{name}" class="form-control"  placeholder="Enter Name" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input type="email" th:field="*{email}" class="form-control" placeholder="Enter email" required>
        </div>

        <div class="mb-4">
          <label class="form-label">Password</label>
          <input type="password" th:field="*{password}" class="form-control" placeholder="Enter password" required>
        </div>

         <div class="mb-3">
          <label class="form-label">Phone no</label>
          <input type="text" th:field="*{phoneNo}" class="form-control" placeholder="Enter phone no" required>
        </div>

        <div class="d-grid">
          <button type="submit" value="login" class="btn btn-primary btn-lg">
            register
          </button>
        </div>

      </form>

<a href="/">Click here to Login</a>

    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
